{% extends "shared.html" %}
{% block title %}Home{% endblock %}

{% block body %}
<div class="conteudo-wrapper">
  <div class="row">
    {% for essencia in essencias %}
    <div class="essencia-wrapper col-lg-3 col-md-4 col-sm-6 col-xs-12" onclick="window.location='/essencia/{{ essencia.5 }}';">
      <div class="essencia">
        <img src="../static/imgs/{{ essencia.2 }}" alt="Foto - {{ essencia.0 }}">
        <p>{{ essencia.0 }}</p>
        <p>{{ essencia.1 }}</p>
        {% for categoria in essencia.3 %}
          {% if categoria == 'Doce' %}
            <div class="categoria_doce">
              {{ categoria }}
            </div>
          {% elif categoria == 'Gelada' %}
            <div class="categoria_gelada">
              {{ categoria }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
